 *{
    margin: 0;
    padding: 0;
 }

 body{
     background: url("2314983.webp");
     background-size: 130%;
     background-position: 0px 0px;
 }
  
 div.main{
    width: 300px;
    margin: 50px auto 0px auto;
 }

 h2{
     text-align: center;
     padding: 20px;
     font-family: sans-serif;
 }

 div.required{
     background-color: rgba(0, 0, 0, 0.5);
     width: 120%;
     font-size: 15px;
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
     color: #fff;
 }

 form#register{
     margin: 40px;
 }

 label{
     font-family: sans-serif;
     font-size: 18px;
     font-style: italic;
     
 }

 input#name{
     width: 250px;
     border: 1px solid #ddd;
     border-radius: 3px;
     outline: 0;
     padding: 7px;
     background-color: #fff;
     box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
 }
 input#submit{
     width: 200px;
     padding: 7px;
     font-size: 16px;
     font-family: sans-serif;
     font-weight: 600;
     background-color: rgba(250,100,0,0.8);
     color: #fff;
     cursor: pointer;
     border: 1px solid;
     margin-bottom: 10px;
 }