*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,30vh);
    grid-template-columns: repeat(3,30vw);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    grid-template-areas: 
    "class1 class2 class3"
    "class1 class4 class4"
    "class5 class4 class4";
    
}

.class1{
    grid-area: class1;
    /* border: 2px solid black;  */
}
.class1 img{
    width: 26.5rem;
    height: 25.5rem;
    
}


.class2{
   
    grid-area: class2;
    /* border: 2px solid black; */
    box-shadow: 0px 2px 5px grey;
    background: linear-gradient(rgb(198, 240, 198),white);
}


.class3{
    
    grid-area: class3;
    box-shadow: 0px 2px 5px grey;
    background: linear-gradient(rgb(242, 225, 194),white 65%);
}
.class31{
    margin-top: 1rem;
    margin-left: 9rem;
}
.class32{
    margin-top: .7rem;
    margin-left: 9rem;
    color: rgba(20, 141, 11, 0.893);;
    font-style: italic;
}
.class32 label{
   margin-top: .9rem;
}
.class32 input{
    margin-top: .3rem;
    border: 1px rgba(113, 183, 130, 0.893);;
    background-color: rgba(226, 239, 229, 0.893);
 }
 .button {
    background-color: #a4efa6;
    
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: solid;
    margin-left: 19rem;
    margin-top: 1rem;
    cursor: pointer;
  }



.class4{
   
    grid-area: class4;
    box-shadow: 2px 2px 5px grey;
    /* border: 2px solid black; */
}
.class4 img{
    margin-top: 1.2rem;
    width: 4rem;
}
.class40{
    display: flex;
    flex-direction: row;
   
    border-bottom: 1px solid grey;
}
.class41{
    margin-top: 2.8rem;
    margin-left: 2rem;
    font-style: italic;
    color: rgba(113, 183, 130, 0.893);;
}
.class42{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.class42 img{
    width: 10rem;
   float: right;
   margin-right: 2rem;
   box-shadow: 2px 2px 5px grey;
}


.class5{
    
    grid-area: class5;
    box-shadow: -1px 0px 5px grey;
    /* border: 2px solid black; */
}
.class5 img{
    height: 1.7rem;
}
.nav1{
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1.3rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: rgba(113, 183, 130, 0.893);;
    background-color: rgba(235, 244, 237, 0.893);
}
.nav2{
    margin-top: 0.2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    /* border: 1 solid black; */
    display: flex;
     background-color: beige;   
}
.xyz{
    margin-left: 1rem;
    margin-top: 0.3rem;
   color: rgba(113, 183, 130, 0.893);
}

.class2child{
    font-style: italic;
    text-align: center;
    margin-top: 5rem;
}

.class2child h3{
    font-style: italic;
    color: rgb(206, 147, 38);
     margin-left: 5rem;
}
