*{
    margin: 0;
}

.home_container {
    height: 100vh;
}

#sidebar {
    width: 20%;
    background-color: #32334a;
}

.header-column {
    /* flex: 1; */
    padding-left: 0px;
    padding-right: 0px;
}

.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    background-color: #dee1eb;
    width: 100%;
    padding: 5px 35px 5px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
  }
/* end of search */

.lang {
    margin-left: 10px;
    background: transparent;
    color: #71788f;
    border: none;
    cursor: pointer;
}


#headerClass{
   background-color:#ecedf1;
}


.l_img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    /* margin-right: 10px; */
}

.create_select {
    padding: 7px;
    margin-left: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.dashboardcontainer {
    padding: 0;
    height: 100%;
    flex: 1;
    /* background-color: #e0e4eb; */
    
    background-color:#f7f8fa ;
    overflow-y: scroll;
}

.welcome > h4 {
    color: #696f75;
}

.welcome > p {
    color: #969b9f;
}

/* sidebar_css */
.companyname {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #b2b6bc;
}

.h6main {
    color: #747f94;;
}

.links > a {
    color: #747f94;
    text-decoration: none;
}


/* cards */
.card {
    background-color: #626ed3;   
    width: 250px;
    margin-top: 15px;

}

.info > h4 {
    font-size: 14px;
    color: #a1abe5;
}

.info > p {
    font-size: 22px;
    color: #fff;
}

.polygon {
    clip-path: polygon(9% 0, 100% 0, 100% 95%, 0 95%, 34% 40%);
    background-color: #2ba399;
    height: 20px;
    width: 65px;
}

.polygon > p {
    font-size: small;
}

.rightpart {
    top: 12%;
}

.past > p {
    color: #a1abe5;
    font-size: 15px;
}

.red{
    background-color: #ea4662;
}

.blue {
    background-color: #37a5f8;
}

.yellow {
    background-color: #f6b622;
}

.transactionchatcontainer {
    height: 400px;
    background-color: #f7f8fa;
   
}

.imglofi1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Deliveredbtmn1{
    /* width: 5px;
    height: 5px; */
    color: #f8f2ca;
    background-color: #f9af27; 
}

.Deliveredbtmn{
    /* width: 5px;
    height: 5px; */
    color: #f8f2ca;
    background-color: #29a096; 
}
.Deliveredbtmn2{
    /* width: 5px;
    height: 5px; */
    color: #f8f2ca;
    background-color: #f04164; 
}

.chat_box{   
    width: 370px;
     background-color: #feffff;
     height: 400px;
     
}

.messages{
    overflow-y: scroll;
}

.chatbox1{
    width:auto;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: .4rem;
    /* color: #575C62; */
}



.chatbox2{
    display: flex;
    flex-direction: row;
    width: 15rem;
    height: 5.5rem;
   
}
.chatbox2 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox21{
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(0 0, 64% 0, 64% 28%, 8% 28%, 8% 7%);
    background-color: #E1E4F7;
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: small;
}




.chatbox3{
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5.5rem;

}
.chatbox3 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox31{
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(46% 0, 100% 0, 90% 7%, 90% 29%, 46% 28%);    background-color: #2AA39A;
    padding-left: 10rem;
    padding-top: 1rem;
    font-size: small;
    background-color: #EFF0F4;
}

.chatbox4{
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5.5rem;
}
.chatbox4 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox41{
    width: 27rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(0 0, 64% 0, 64% 28%, 8% 28%, 8% 7%);
    background-color: #E1E4F7;
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: .75rem;
}

.chatbox5{
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5.5rem;
   
}
.chatbox5 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox51{
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(46% 0, 100% 0, 90% 7%, 90% 29%, 46% 28%);    background-color: #2AA39A;
    padding-left: 10rem;
    padding-top: 1rem;
    font-size: small;
    background-color: #EFF0F4;
   
}

.SendButton input{
    width: 15rem;
    height: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.SendButton button{
    width: 4rem;
    height: 2rem;
    margin-left: .3rem;
    border: none;
    background-color: #28a398;
    color: #E1E4F7;
    margin-bottom: 1rem;
    
    
}

.tableclass{
     background-color: #feffff;
     width: 700px;
     height: 400px;
}

.tableclasscontaine{
    overflow-x: scroll;
    background-color: #feffff;
    
}

@media screen and (max-width: 700px) {
   
    #sidebar{
        width: 13%;
    }
    .tableclass{
        width: 280px;
        margin-left: 3rem;
    }
     .cardContainer{
        width: 100vw;
        margin-left: 3rem;
    }
   
    .home_container{
        width:100vw;
    }
    .chat_box{
        width: 280px;
        margin-left: 3rem;
    }
  }

  @media screen and (max-width: 1082px) {
    .chat_box{
      margin: 0;
       
    }
  }