*{
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.navbar{
    display: flex;    
    justify-content: space-between; 
    align-items: center;
    background-color: yellow;
    color: black;
}

.brand-title{
    font-size: 3.5rem;
    padding-left: 15rem;
}

.navbar-links ul{
   margin: 0;
   padding: 0;
   display: flex;
}
.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover {
    background-color: white;
}

.below-navbar{
    
    height: 3.5rem;
    background-color: lightgray;
    width: 80%;

    margin-left: 10%;
   
}

.body{
    display: flex;
    
   flex-direction: row;
   background-color: beige;
   margin-left: 9rem;
   margin-right: 9rem;
}

.totalbody{
    
    background-color: black;
}

.imageitem{
    position: relative;
    width: 40rem;
    height: 30rem;
   flex: 1;
    /* border: 1px black solid; */
    /* background-color: blue; */
    
}

.content{
    width: 60rem;
    height: 30rem;
    flex: 2;
    /* border: 1px black solid; */
    /* background-color: green; */
}

img{
    
    width: 23rem;
    height: 25rem;
    margin: 1.0rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.namebar{
  position: absolute;
  bottom: 10%;
  margin-left: 90px;
  margin-right: 100px;
  padding-bottom: 120px ;
  border-radius: 100pc;
  padding: 10px 50px;
  background-color: rgb(245,184,0);
  border: 0;
  font-style: italic;
   
}

.rtd{
    padding-left: 2.5rem;
}

.rightele{
    margin: 1rem;
    font-size: 2rem;
}

.rightele1{
    margin: 1rem;
    font-size: 1rem;
}

.rightele2{
    margin: 1rem;
    
}


.fa {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
    margin-top: 2rem;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 2rem;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
    margin-top: 2rem;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
    margin-top: 2rem;
  }

  .siteimg{
    display: flex;    
    justify-content: space-between; 
  }

.below{
    background-color: rgb(203,215,226);
    
    height: 40pc;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
    margin-right: 9rem;
}

.skillblock{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    
}
#abc{
    border: 1px solid black;
    width: 14%;
    height: 30px;
}

/* .webdevskills{
    width: 70pc;
    height:15pc;
    margin-top: 10px;
    background-color: rgb(203,215,226);
    display: flex;
   flex-direction: row;
}

.web_deve{
    margin: 2rem;
    flex:5;
}

.web_design{
    margin: 2rem;
    flex: 5;
} */

.wev_dev_and_web_design{
    width: 70pc;
    height: 15pc;
    margin-top: 10px;
    background-color:rgb(203, 215, 226);
    display: flex;
    flex-direction: row;
  }
  .web_dev{
      margin: 2rem;
      width: 40%;
  }
  .web_design{
    margin: 2rem;
    width: 40%;
  }
  #first, #second {
      margin-top: 10px;
  }
  .outer{
      width: 100%;
      margin-top: 5px;
      background-color: white;
      margin-bottom: 15px;
  }
  .inner{
      background-color: rgb(245, 184, 0);
      padding: 4px;
      text-align: right;
  }
  .i1{
      width: 85%;
  }
  #skill_heads{
      margin-top: 30px;
      font-weight: bold;
  }

  .i2{
    width: 65%;
}
.i3{
    width: 75%;
}
.i4{
    width: 95%;
}