*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.mainClass{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #F8F8FA;
    overflow-x: hidden;
}

.navClass{
    width: 14rem;
    /* padding: 10px 20px; */
    background-color: #343549;
    height: 100vh;
}
h5{
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: .8rem;
}

.geekyants{
   text-align: center;
   padding-top: 1rem;
   color: #c5cacf;
}
.Dashboard{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Dashboard:hover{
    background-color: #373c4e;
}
.Dashboard h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Dashboard img{
    width: 2.3rem;
    height: 1.8rem;
}
.Dashboard #Dash2{
    width: 1.4rem;
    height: 1rem;
    margin-left: 3.7rem;
    margin-top: .2rem;
}

.Calendar{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Calendar h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Calendar img{
    width: 2.3rem;
    height: 1.8rem;
}
.Calendar:hover{
    background-color: #373c4e;
}

.Email{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Email h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Email img{
    width: 2.3rem;
    height: 1.8rem;
}
.Email #Dash2{
    width: 1.4rem;
    height: 1rem;
    margin-left: 6rem;
    margin-top: .2rem;
}
.Email:hover{
    background-color: #373c4e;
}


.UiElement{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.UiElement h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.UiElement img{
    width: 2.3rem;
    height: 1.8rem;
}
.UiElement #Dash2{
    width: 1.4rem;
    height: 1rem;
    margin-left: 3.5rem;
    margin-top: .2rem;
}
.UiElement:hover{
    background-color: #373c4e;
}


.Forms{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Forms h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Forms img{
    width: 2.3rem;
    height: 1.8rem;
}
.Forms:hover{
    background-color: #373c4e;
}


.Charts{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Charts h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Charts img{
    width: 2.3rem;
    height: 1.8rem;
}
.Charts #Dash2{
    width: 1.4rem;
    height: 1rem;
    margin-left: 5.4rem;
    margin-top: .2rem;
}
.Charts:hover{
    background-color: #373c4e;
}



.Tables{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Tables h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Tables img{
    margin-left: .2rem;
    width: 2rem;
    height: 1.6rem;
}
.Tables #Dash2{
    width: 1.4rem;
    height: 1rem;
    margin-left: 5.6rem;
    margin-top: .2rem;
}
.Tables:hover{
    background-color: #373c4e;
}



.Icon{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Icon h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Icon img{
    margin-left: .2rem;
    width: 2rem;
    height: 1.8rem;
}
.Icon #Dash2{
    width: 1.4rem;
    height: 1rem;
    margin-left: 6.3rem;
    margin-top: .2rem;
}
.Icon:hover{
    background-color: #373c4e;
}



.Maps{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    color: #f7f9fb;
}
.Maps h4{
    margin-top: .2rem;
    margin-left: 1rem;
    color: #c5cacf;
}
.Maps img{
    width: 2.3rem;
    height: 1.8rem;
}
.Maps:hover{
    background-color: #373c4e;
}




.headerClass{
   
   width: 76rem;
   height: 3.5rem;
   background-color: #EDECF1;
   display: flex;
   flex-direction: row;
   
}

.headerClass1{
    display: flex;
   flex-direction: row;
   background-color: #EDECF1;
   flex: .5;
   
}

.headerClass1 #head1{
    width: 3rem;
    height: 2.5rem;
    margin-top: .5rem;
    margin-left: .3rem;
}


.headerClass1 > select{
    width: 5rem;
    height: 2rem;
    margin-top: .75rem;
    margin-left: 1.5rem;
    border: 0;
    cursor: pointer;
}

.headerClass2{
    display: flex;
   flex-direction: row;
   background-color: #EDECF1;
   flex: .5;
   margin-left: 6rem;
}



.headerClass2 #searchbar{
    margin-top: .7rem;
    /* margin-bottom: 0rem; */
    border: 0 ;
    border-radius: 2rem;
    padding-left: 1rem;
    height: 2rem;
    background: #dee1eb;
}

.searchbar_1{
    display: flex;
    flex-direction: row;
}

.searchbar_1 i{
    width: 3rem;
    height: 2rem;
    margin-top: 1.2rem;
}


.head30{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;

}
.head30 #head10{
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 1rem;
}
/* .head30 article{
   margin-top: 1.1rem;
   margin-left: .5rem;
   color: #373c4e;
} */

.head30 > select{
    margin-left: 1rem;
    width: 4.3rem;
    height: 1.7rem;
    margin-top: .8rem;
    border: 0;
    cursor: pointer;
}


.class2{
    display: flex;
    flex-direction: column;
    
}
.headerClass2 #head11{
    width: 2.5rem;
    height: 2rem;
    margin-top: .7rem;
    margin-left: 2rem;
}
.headerClass2 #head12{
    width: 2.5rem;
    height: 2rem;
    margin-top: .7rem;
    margin-left: 2rem;
}
.headerClass2 #head13{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: .5rem;
    margin-left: 2rem;
    border-radius: 1.3rem;
    object-fit: cover;
    
}




.section1{
    width: 76rem;
    height: 4rem;
    margin-top: .7rem;
    display: flex;
    flex-direction: row;
    
}
h3{
   color: #343549;
   margin-left: 1rem;
  
}
h4{
    color:  #575C62;
    margin-left: 1rem;
}

/* .button {
    background-color: #626ED4 ; 
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:56rem;
    margin-top: .6rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
  }
  
  .button1 > img{
      height: 1.3rem;
  } */


.button {
    background-color: #626ED4 ; /* Green */
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:55rem;
    margin-top: .6rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius:.3rem;
  }
 
  .button > img{
    height: 1.3rem;
}
.button h4{
    color:  #f1f3f7;
    margin-left: .5rem;
    margin-right: .3rem;
}





  .section2{
      margin-top: .6rem;
      width: 76rem;
      height: 12rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }


.card1{
    width: 16rem;
    height: 10rem;
    background-color: #626ED4;
    margin-top: 1rem;
    margin-left: .1rem;
    
}
.card1_grid{
    display: grid;
    grid-template-rows: repeat(2,5rem);
    grid-template-columns: repeat(3,5.3rem);
    grid-template-areas: 
    "class01 class02 class03"
    "class04 class04 class05";  
}
.class01{
    grid-area: class01;
    /* border: 2px solid black;  */
}
.class02{
    grid-area: class02;

    /* border: 2px solid black;  */
}
.class03{
    grid-area: class03;
    clip-path: polygon(6% 15%, 100% 15%, 100% 60%, 0 61%, 34% 44%);
    background-color: #2AA39A ;
    /* border: 2px solid black;  */
}
.class03 article{
    margin-top: 1.4rem;
    margin-left: 2rem;
    color: #f7f9fb;
}
.class04{
    grid-area: class04;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 2rem;
    /* border: 2px solid black;  */
}
.class05{
    grid-area: class05;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 3rem;
    /* border: 2px solid black;  */
}

.card1 p{
    margin-top: 1rem;
    color: #c5cacf;
}
.card1 span{
    color: #c5cacf;
    font-size: 20px;
}
.card1 img{
    width: 3rem;
    height: 3.3rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}





.card2{
    width: 16rem;
    height: 10rem;
    background-color: #626ED4;
    margin-top: 1rem;
    margin-left: .1rem;
}
.card2_grid{
    display: grid;
    grid-template-rows: repeat(2,5rem);
    grid-template-columns: repeat(3,5.3rem);
    grid-template-areas: 
    "class001 class002 class003"
    "class004 class004 class005";  
}
.class001{
    grid-area: class001;
    /* border: 2px solid black;  */
}
.class002{
    grid-area: class002;
    /* border: 2px solid black;  */
}
.class003{
    grid-area: class003;
    clip-path: polygon(6% 15%, 100% 15%, 100% 60%, 0 61%, 34% 44%);
    background-color: #EC4561;
    /* border: 2px solid black;  */
}
.class003 article{
    margin-top: 1.4rem;
    margin-left: 2rem;
    color: #f7f9fb;
}
.class004{
    grid-area: class004;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 2rem;
    /* border: 2px solid black;  */
}
.class005{
    grid-area: class005;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 3rem;
    /* border: 2px solid black;  */
}
.card2 p{
    margin-top: 1rem;
    color: #c5cacf;
}
.card2 span{
    color: #c5cacf;
    font-size: 20px;
}
.card2 img{
    width: 3rem;
    height: 3.3rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}






.card3{
    width: 16rem;
    height: 10rem;
    background-color: #626ED4;
    margin-top: 1rem;
    margin-left: .1rem;
}

.card3_grid{
    display: grid;
    grid-template-rows: repeat(2,5rem);
    grid-template-columns: repeat(3,5.3rem);
    grid-template-areas: 
    "class10 class20 class30"
    "class40 class40 class50";  
}
.class10{
    grid-area: class10;
    /* border: 2px solid black;  */
}
.class20{
    grid-area: class20;
    /* border: 2px solid black;  */
}
.class30{
    grid-area: class30;
    clip-path: polygon(6% 15%, 100% 15%, 100% 60%, 0 61%, 34% 44%);
    background-color: #38A5F8;
    /* border: 2px solid black;  */
}
.class30 article{
    margin-top: 1.4rem;
    margin-left: 2.7rem;
    color: #f7f9fb;
}
.class40{
    grid-area: class40;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 2rem;
    /* border: 2px solid black;  */
}
.class50{
    grid-area: class50;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 3rem;
    /* border: 2px solid black;  */
}
.card3 p{
    margin-top: 1rem;
    color: #c5cacf;
}
.card3 span{
    color: #c5cacf;
    font-size: 20px;
}
.card3 img{
    width: 3rem;
    height: 3.3rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}






.card4{
    width: 16rem;
    height: 10rem;
    background-color: #626ED4;
    margin-top: 1rem;
    margin-left: .1rem;
}

.card4_grid{
    display: grid;
    grid-template-rows: repeat(2,5rem);
    grid-template-columns: repeat(3,5.3rem);
    grid-template-areas: 
    "class011 class022 class033"
    "class044 class044 class055";  
}
.class011{
    grid-area: class011;
    /* border: 2px solid black;  */
}
.class022{
    grid-area: class022;
    /* border: 2px solid black;  */
}
.class033{
    grid-area: class033;
    clip-path: polygon(6% 15%, 100% 15%, 100% 60%, 0 61%, 34% 44%);
    background-color: #F8B425;

    /* border: 2px solid black;  */
}
.class033 article{
    margin-top: 1.4rem;
    margin-left: 2rem;
    color: #f7f9fb;
}
.class044{
    grid-area: class044;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 2rem;
    /* border: 2px solid black;  */
}
.class055{
    grid-area: class055;
    color: #c5cacf;
    margin-top: 2rem;
    margin-left: 3rem;
    /* border: 2px solid black;  */
}
.card4 p{
    margin-top: 1rem;
    color: #c5cacf;
}
.card4 span{
    color: #c5cacf;
    font-size: 20px;
}
.card4 img{
    width: 3rem;
    height: 3.3rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}




.table_and_chatbox{
    display: flex;
    flex-direction: row;
    height: 29rem;
    margin-top: 2rem;
   
}

.table_content{
    flex: .67;
    background-color: white;
    margin-left: 2.6rem;
    margin-bottom: 1rem;
    /* color: #E7E7E7; */
}
.table_header{
    width: 45rem;
    height: 3rem;
    color: #575C62;
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-left: 1rem;
    border-bottom: 1px ridge #575C62;
}

.table_header2{
    width: 45rem;
    height: 3rem;
    color: #575C62;
    font-size: 1rem;
    padding-top: .8rem;
    margin-left: 1rem;
    border-bottom: 1px ridge #575C62;
    display: flex;
    flex-direction: row;
}
.table_header_content1{
    width: 5rem;
    margin-left: .5rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content2{
    width: 5rem;
    margin-left: 2rem;
    color: #575C62;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}
.table_header_content3{
    width: 5rem;
    margin-left: 5rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content4{
    width: 5rem;
    margin-left: 3rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content5{
    width: 5rem;
    margin-left: 2rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content6{
    width: 3rem;
    height: 1.5rem;
    background-color: green;
    padding-left: .6rem;
    padding-top: .15rem;
    border-radius: .2rem;
   
    margin-left: 3rem;
}


.table_header3{
    width: 45rem;
    height: 4rem;
    color: #575C62;
    font-size: 1rem;
    
    margin-left: 1rem;
    border-bottom: 1px ridge #575C62;
    display: flex;
    flex-direction: row;
}

.table_header_content11{
    width: 5rem;
    margin-left: .5rem;
    padding-top: 1.2rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content21{
    width: 5rem;
    margin-left: 2rem;
    color: #575C62;
    display: flex;
    flex-direction: row;
    
}
.table_header_content21 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
}

.table_header_content21 article{
    margin-top: 1.2rem;
    padding-left: 1rem;
}



.table_header_content31{
    width: 5rem;
    margin-top: 1.2rem;
    margin-left: 5rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content41{
    width: 5rem;
    margin-top: 1.2rem;
    margin-left: 3rem;
    color: #575C62;
    /* background-color: green; */
}
.table_header_content51{
    width: 5rem;
    margin-top: 1.2rem;
    margin-left: 2rem;
    color: #2AA39A;
    /* background-color: green; */
}
.table_header_content61{
    width: 3rem;
    height: 1.5rem;
    margin-top: 1.2rem;
    background-color: #626ED4;
    padding-left: .6rem;
    padding-top: .15rem;
    border-radius: .2rem;
    color: hsl(0, 0%, 90%);;
    margin-left: 3rem;
}


.Delivered{
    width: 4.3rem;
    height: 1.3rem;
    background-color: green;
    border-radius: .2rem;
    margin-top: .2rem;
    color: hsl(0, 0%, 90%);
}

.Cancel{
    width: 4.3rem;
    height: 1.3rem;
    background-color: #EC4561 ;
    border-radius: .2rem;
    margin-top: .2rem;
    color: hsl(0, 0%, 90%);
    padding-left: .7rem;
}

.Pending{
    width: 4.3rem;
    height: 1.3rem;
    background-color: #F8B425  ;
    border-radius: .2rem;
    margin-top: .2rem;
    color: hsl(0, 0%, 90%);
    padding-left: .6rem;
}



.messages{
    height: auto;
    overflow: scroll;
}


.chat_box{
    margin-left: 2rem;
    flex: .3;
    background-color: white;
    /* margin-bottom: 1rem; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chatbox1{
    width:auto;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: .4rem;
    /* color: #575C62; */
}



.chatbox2{
    display: flex;
    flex-direction: row;
    width: 15rem;
    height: 5.5rem;
   
}
.chatbox2 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox21{
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(0 0, 64% 0, 64% 28%, 8% 28%, 8% 7%);
    background-color: #E1E4F7;
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: small;
}




.chatbox3{
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5.5rem;

}
.chatbox3 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox31{
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(46% 0, 100% 0, 90% 7%, 90% 29%, 46% 28%);    background-color: #2AA39A;
    padding-left: 10rem;
    padding-top: 1rem;
    font-size: small;
    background-color: #EFF0F4;
}

.chatbox4{
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5.5rem;
}
.chatbox4 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox41{
    width: 27rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(0 0, 64% 0, 64% 28%, 8% 28%, 8% 7%);
    background-color: #E1E4F7;
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: .75rem;
}

.chatbox5{
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5.5rem;
   
}
.chatbox5 img{
    width: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    object-fit: cover; 
    margin-left: 1rem;
}
.chatbox51{
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    clip-path: polygon(46% 0, 100% 0, 90% 7%, 90% 29%, 46% 28%);    background-color: #2AA39A;
    padding-left: 10rem;
    padding-top: 1rem;
    font-size: small;
    background-color: #EFF0F4;
   
}

.SendButton input{
    width: 15rem;
    height: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.SendButton button{
    width: 4rem;
    height: 2rem;
    margin-left: .3rem;
    border: none;
    background-color: #28a398;
    color: #E1E4F7;
    margin-bottom: 1rem;
    
    
}