.mainContainer{
padding: 0;
margin: 0;
box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.mainContainer{
    height: 100vh;
    width: 100vw;

}


.sidebar1{
    width: 20%;
    height: 100%;
   
    background-color: #343549;
}

.sidebar2{
    width: 100%;
    height: 100%;
   
    background-color: rgb(243, 240, 255);
}

.imag1{
    width: 3%;
    height: 2%;
}

.imag2{
    width: 5rem;
    height: 4rem;
}

.nav_images{
    height:40px;
    margin-bottom: .8rem;
}

#dropdownMenuButton1{
    height: 40px;
    margin-bottom: .8rem;
}

#searchbar{
    height: 40px;
    margin-bottom: .8rem;
}




.Dashboard{
    height: 4.2rem;
    background-color: violet;
}

  /*  .button > img{
    height: 1rem; 
    
} */
.button h4{
    color:  #f1f3f7;
    margin-left: .5rem;
    margin-right: .3rem;
}

#sett{
    height: 1.3rem;
}

#grid1{
    width: 16rem;
    height: 10rem;
}








.home_container {
    height: 100vh;
}
.sidebar {
    width: 20%;
    background-color: tomato;
}
.header-column {
    background-color: cyan;
    /* flex: 1; */
    padding-left: 0px;
    padding-right: 0px;
}
/* search */
.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    background-color: #DEE1EB;
    width: 100%;
    padding: 5px 35px 5px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
  }
/* end of search */
.lang {
    margin-left: 10px;
    background: transparent;
    color: #71788F;
    border: none;
    cursor: pointer;
}
.l_img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    /* margin-right: 10px; */
}
